<div class="scanner">
  @if (!barcode()) {
    <video
      #video
      autoplay
      playsinline></video>

    <div class="scanner-hint">
      Наведіть камеру на штрихкод книжки
    </div>
  }
  @if (barcode(); as code) {
    <div class="barcode-result">
      <span class="barcode-result-label">
        Штрихкод
      </span>

      <span class="barcode-result-value">
        {{ code }}
      </span>
    </div>
  }
  <button
    type="button"
    class="close-button"
    (click)="close()">
    Закрити
  </button>
</div>
